/* import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.git-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.git-box img {
  width: 100%;
}

/* all similar content styling codes */
section {
  padding: 100px 0;
}

.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

#about,
.services,
#skills,
#projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}

#about .about-content,
.services .serv-content,
#skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: "Ubuntu", sans-serif;
  color: #111;
}

section .title::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  transform: translateX(-50%);
}

section .title::after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: green;
  padding: 0 5px;
  background: #fff;
  transform: translateX(-50%);
}

/* navbar styling */
#nav-menu {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family: "Ubuntu", sans-serif;
  transition: all 0.3s ease;
  background-color: green;
}

#nav-menu .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-menu .logo a {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.logo img{
  width: 40%;
}

#nav-menu .logo a span {
  color: green;
  transition: all 0.3s ease;
}

#nav-menu.sticky .logo a span {
  color: #fff;
}

#nav-menu .menu li {
  list-style: none;
  display: inline-block;
}

#nav-menu .menu li a {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

#nav-menu .menu li a:hover {
  color: black;
}

#nav-menu.sticky .menu li a:hover {
  color: #fff;
}

#resume-button-1 {
  color: white;
  background-color: transparent;
  border: none;
  font: bold;
}

/* menu btn styling */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}

.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: green;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.scroll-up-btn.show {
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}

.scroll-up-btn:hover {
  filter: brightness(90%);
}

/* home section styling */
#home {
  display: flex; 
  background: url("./images/mediterranean-cuisine-2378758.jpg") no-repeat center;
  background-color: #111;
  height: 100vh;
  color: #fff;
  min-height: 500px;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", sans-serif;
}

#home .max-width {
  width: 100%;
  display: flex;
}

#home .max-width .row {
  margin-right: 0;
}

#home .home-content .text-1 {
  font-size: 27px;
  color: #111;
}

#home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
  color: #111;
}

#home .home-content .text-3 {
  font-size: 40px;
  margin: 5px 0;
  color: #111;
}

#home .home-content .text-3 span {
  color: green;
  font-weight: 500;
}

#home .home-content a {
  display: inline-block;
  background: green;
  color: #fff;
  font-size: 25px;
  padding: 12px 36px;
  margin-top: 20px;
  font-weight: 400;
  border-radius: 6px;
  border: 2px solid green;
  transition: all 0.3s ease;
}

#home .home-content a:hover {
  color: green;
  background: none;
}

/* about section styling */
#about .title::after {
  content: "Who we are";
}

#about .about-content .left {
  width: 45%;
}

#about .about-content .left img {
  width: 400px;
  object-fit: cover;
  border-radius: 6px;
}

#about .about-content .right {
  width: 55%;
}

#about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

#about .about-content .right .text span {
  color: green;
}

#about .about-content .right p {
  text-align: justify;
}

#about .about-content .right a {
  display: inline-block;
  background: green;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid green;
  transition: all 0.3s ease;
}

#about .about-content .right a:hover {
  color: green;
  background: none;
}

/* services section styling */
.services,
#projects {
  color: #fff;
  background: #111;
}

.services .title::before,
#projects .title::before {
  background: #fff;
}

.services .title::after,
#projects .title::after {
  background: #111;
  content: "What we provide";
}

.services .serv-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.services .serv-content .card:hover {
  background: green;
}

.services .serv-content .card .box {
  transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
  transform: scale(1.05);
}

.services .serv-content .card i {
  font-size: 50px;
  color: green;
  transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
  color: #fff;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}

/* skills section styling */

.skills-card-img {
  height: 160px;
  width: 170px;
  border-radius: 5%;
  padding: 1.1em;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  transition: all 0.3s ease;
}

.skills .title::after {
  content: "what i know";
}

#skills .title::after {
  content: "what i know";
}

/* skills right column */
#skills .skills-content .column {
  width: calc(50% - 30px);
  /* border: 2px solid black; */
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

#skills .skills-content .left p {
  text-align: justify;
}

#skills .skills-content .left a {
  display: inline-block;
  background: green;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 16px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid green;
  transition: all 0.3s ease;
}

#skills .skills-content .left a:hover {
  color: green;
  background: none;
}

#skills .skills-content .right .bars {
  margin-bottom: 15px;
}

#skills .skills-content .right .info {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
}

#skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

#skills .skills-content .right .line {
  height: 5px;
  width: 100%;
  background: lightgrey;
  position: relative;
}

#skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: green;
}

.skills-content .right .html::before {
  width: 90%;
}

.skills-content .right .css::before {
  width: 60%;
}

.skills-content .right .js::before {
  width: 80%;
}

.skills-content .right .php::before {
  width: 50%;
}

.skills-content .right .mysql::before {
  width: 70%;
}

.skills-card-name {
  align-items: center;
  font-size: 20px;
  color: #111;
}

/* project section styling */
#projects .title::after {
  content: "see my work";
}

#projects .carousel .project-card {
  background: #222;
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

#projects .carousel .project-card:hover {
  background: green;
}

#projects .carousel .project-card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
  color: #fff;
}

.repo-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45px;
  margin-top: 5%;
}

.repo-div {
  display: flex;
  width: 35%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.demo-div {
  display: flex;
  width: 35%;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
}

.demo-div a,
.repo-div a,
.repo-div a:link,
.demo-div a:link {
  text-decoration: none;
  color: white;
}

#projects .carousel .project-card img {
  height: 300px;
  object-fit: cover;
  border-radius: 5%;
  border: 5px solid green;
  transition: all 0.3s ease;
  align-items: center;
}

#projects .carousel .project-card:hover img {
  border-color: #fff;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid green !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: green !important;
}

/* contact section styling */
.contact .title::after {
  content: "Get in touch";
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #111;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: green;
}

.contact .contact-content .info .head {
  font-weight: 500;
  color: #fff;
}

.contact .contact-content .info a,
.contact .contact-content .info a:hover,
.contact .contact-content .info a:link {
  text-decoration: none;
  color: #111;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button-area {
  display: flex;
  align-items: center;
}

.right form .button-area button {
  color: #fff;
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: green;
  border: 2px solid green;
  transition: all 0.3s ease;
}

.right form .button-area button:hover {
  color: green;
  background: none;
}

/* footer section styling */
footer {
  background: #111;
  padding: 15px 23px;
  color: #fff;
  text-align: center;
}

footer span a {
  color: green;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

.akhtar {
  width: 60%;
}


.services .title {
  color: white;
}
/* responsive media query start */
@media (max-width: 1104px) {
  #about .about-content .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  #stat {
    display: block;
    justify-content: center;
  }

  .menu-btn {
    display: block;
    z-index: 999;
  }

  .menu-btn i.active:before {
    content: "\f00d";
  }

  #nav-menu .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
  }

  #nav-menu .menu.active {
    left: 0;
  }

  #nav-menu .menu li {
    display: block;
  }

  #nav-menu .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
  }

  #home .home-content .text-2 {
    font-size: 70px;
  }

  #hom .home-content .text-3 {
    font-size: 35px;
  }

  #home .home-content a {
    font-size: 23px;
    padding: 10px 30px;
  }

  .max-width {
    max-width: 930px;
  }

  #about .about-content .column {
    width: 100%;
  }

  #about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
  }

  #about .about-content .right {
    flex: 100%;
  }

  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  #skills .skills-content .column,
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}


/* Login and Resgsiter Page starts */

.container{
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 30px;    
    position: fixed;
    display: none;
    top: 0;
    left: 0;
}
.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}


/* end of login an register */





@media (max-width: 690px) {
  .git-box {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .max-width {
    padding: 0 23px;
  }

  #home .home-content .text-2 {
    font-size: 60px;
  }

  #home .home-content .text-3 {
    font-size: 32px;
  }

  #home .home-content a {
    font-size: 20px;
  }

  .services .serv-content .card {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #stat {
    display: block;
    justify-content: center;
  }

  #home .home-content .text-2 {
    font-size: 50px;
  }

  #home .home-content .text-3 {
    font-size: 27px;
  }

  #about .about-content .right .text,
  #skills .skills-content .left .text {
    font-size: 19px;
  }

  .contact .right form .fields {
    flex-direction: column;
  }

  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }

  .right form .error-box {
    width: 150px;
  }

  .scroll-up-btn {
    right: 15px;
    bottom: 15px;
    height: 38px;
    width: 35px;
    font-size: 23px;
    line-height: 38px;
  }
}
